<div style="display: inline-flex; width: 100%;">
    <div style="width: 30%; height: 100%; display: inline; margin-left: 10px; margin-right: 10px;">
        <p-orderList filterBy="nome">
            <ng-template let-car pTemplate="item">
            </ng-template>
        </p-orderList>
    </div>

    <div style="width: 60%; height: 100%; display: inline; margin-left: 10px; margin-right: 10px;">
        <p-tabView >
            <p-tabPanel header="Dados">
            </p-tabPanel>
            <p-tabPanel header="Documentos">
            </p-tabPanel>
            <p-tabPanel header="Endereço">
            </p-tabPanel>
            <p-tabPanel header="Contatos">
            </p-tabPanel>
            <p-tabPanel header="Logins">
            </p-tabPanel>
            <p-tabPanel header="Empresa">
            </p-tabPanel>
        </p-tabView>
    </div>
</div>