<p-panel header="Dados Cadastrais">
    <div style="margin-bottom: 20px;">
        <p-toolbar>
            <div class="p-toolbar-group-left">
                <p-button label="Editar" icon="pi pi-pencil" class="botoesMenu" [disabled]=true></p-button>
                <p-button label="Cancelar" icon="pi pi-times" class="botoesMenu" [disabled]=true></p-button>
                <p-button label="Salvar Alterações" icon="pi pi-save" class="botoesMenu" [disabled]=true></p-button>
                <p-button label="Novo" icon="pi pi-plus" class="botoesMenu"></p-button>
            </div>

            <div class="p-toolbar-group-right">
                <p-button icon="pi pi-print" styleClass="p-button-success" class="botoesMenu"></p-button>
                <p-button icon="pi pi-times" styleClass="p-button-danger" class="botoesMenu"></p-button>
            </div>
        </p-toolbar>
    </div>
    <p-accordion>
        <p-accordionTab header="Dados Atuais">
            <span class="p-float-label">
                <p-calendar [showButtonBar]="true"></p-calendar>
                <label for="float-input">Data do Cadastro</label>
            </span>

            <span class="p-float-label">
                <p-inputMask mask="99.999.999/9999-99"></p-inputMask>
                <label for="float-input">CNPJ</label>
            </span>
            <span class="p-float-label">
                <input id="float-input" type="text" pInputText [size]="60"> 
                <label for="float-input">Razão Social</label>
            </span>
        </p-accordionTab>
        <p-accordionTab header="Histórico">

        </p-accordionTab>
    </p-accordion>
</p-panel>