<p-panel header="Dados Cadastrais">
    <app-toolbar [printButtonHidden]=false [editarDisabled]="isEditarButtonDisabled"
        [cancelarDisabled]="isCancelarButtonDisabled" [salvarDisabled]="isSalvarButtonDisabled"
        [novoDisabled]="isNovoButtonDisabled" [printDisabled]="isPrintButtonDisabled"
        [deleteDisabled]="isDeleteButtonDisabled" (novoClickEvent)="onNovoClick()"
        (cancelarClickEvent)="onCancelarClick()" (salvarClickEvent)="onSalvarClick()"
        (deleteClickEvent)="onDeleteClick()"></app-toolbar>
    <p-accordion>
        <p-accordionTab header="Dados Atuais" [selected]="true">
            <app-cad-form-editar *ngIf="isEditarForm"></app-cad-form-editar>
            <app-cad-form-exibir *ngIf="!isEditarForm"></app-cad-form-exibir>
        </p-accordionTab>
        <p-accordionTab header="Histórico">
        </p-accordionTab>
    </p-accordion>
</p-panel>