<div class="card">
    <form>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Data do Cadastro</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Logradouro</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Número</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Complemento</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Bairro</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">CEP</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Caixa Postal</label>
            <p>Teste</p>
        </div>
        <div class="field grid formsExibirDados">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Estado/Cidade</label>
            <p>Teste</p>
        </div>
    </form>
</div>