<div id="lateral" class={{cssMenuLateral}}>
    <div id="btnMenu" class="menuBotao" (click)='openMenu()'>
        <div id={{menuBotao}} class="logosMenu"></div>
        <div id="rotuloMenu" class="rotuloMenu">
            menu
        </div>
    </div>

    <div id="btnHome" class="menuBotao">
        <div id="logoHome" class="logosMenu"></div>
        <div id="rotuloCadEmpresas" class="rotuloMenu">
            botao_1
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.Home)}" /> -->
        </div>
    </div>

    <div id="btnCadastroEmpresa" class="menuBotao">
        <div id="logoCadEmpresa" class="logosMenu"></div>
        <div id="rotuloCadEmpresas" class="rotuloMenu">
            botao_2
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.CadastroEmpresa)}" /> -->
        </div>
    </div>

    <div id="itemCadUsuarios" class="menuBotao">
        <div id="logoCadUsuarios" class="logosMenu"></div>
        <div id="rotuloCadUsuarios" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.CadastroUsuario)}" /> -->
        </div>
    </div>

    <div id="itemRegAmbientais" class="menuBotao">
        <div id="logoRegAmbientais" class="logosMenu"></div>
        <div id="rotuloRegAmbientais" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.RegistroAmbiental)}" /> -->
        </div>
    </div>

    <div id="itemSaudeTrabalho" class="menuBotao">
        <div id="logoSaudeTrabalho" class="logosMenu"></div>
        <div id="rotuloSaudeTrabalho" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.SaudeTrabalho)}" /> -->
        </div>
    </div>

    <div id="itemDocLegais" class="menuBotao">
        <div id="logoDocLegais" class="logosMenu"></div>
        <div id="rotuloDocLegais" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.DocumentosLegais)}" /> -->
        </div>
    </div>

    <div id="itemAcidentes" class="menuBotao">
        <div id="logoAcidentes" class="logosMenu"></div>
        <div id="rotuloAcidentes" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.AcidenteEmpregado)}" /> -->
        </div>
    </div>

    <div id="itemEquiptosProtecao" class="menuBotao">
        <div id="logoEquiptosProtecao" class="logosMenu"></div>
        <div id="rotuloEquiptosProtecao" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.EquiptoProtecao)}" /> -->
        </div>
    </div>

    <div id="itemFerramentas" class="menuBotao">
        <div id="logoFerramentas" class="logosMenu"></div>
        <div id="rotuloFerramentas" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.Ferramentas)}" /> -->
        </div>
    </div>

    <div id="itemTreinamento" class="menuBotao">
        <div id="logoTreinamento" class="logosMenu"></div>
        <div id="rotuloTreinmento" class="rotuloMenu">
            <!-- <h:outputFormat styleClass="textoMenu" value="#{fn:toUpperCase(msgs.TreinamentosSST)}" /> -->
        </div>
    </div>
</div>