<nav id="lateral" class={{cssMenuLateral}}>
    <div id="btnMenu" class={{cssMenuBotao}} (click)='openMenu()'>
        <div class="logoMenuPrincipal">
            <i class="pi pi-bars"></i>
        </div>
        <div id="rotuloMenu" class="rotuloMenu">
            <span i18n class="textoMenu">Módulos</span>
        </div>
    </div>

    <div id="btnHome" class="botao menuBotao">
        <div id="logoHome" class="logosMenu"></div>
        <div id="rotuloCadEmpresas" class="rotuloMenu">
            <span i18n class="textoMenu">Home</span>
        </div>
    </div>

    <div id="btnCadastroEmpresa" class="botao menuBotao">
        <div id="logoCadEmpresa" class="logosMenu"></div>
        <div id="rotuloCadEmpresas" class="rotuloMenu">
            <span i18n class="textoMenu">Cadastro Empresa</span>
        </div>
    </div>

    <div id="itemCadUsuarios" class="botao menuBotao">
        <div id="logoCadUsuarios" class="logosMenu"></div>
        <div id="rotuloCadUsuarios" class="rotuloMenu">
            <span i18n class="textoMenu">Cadastro Empregado</span>
        </div>
    </div>

    <div id="itemRegAmbientais" class="botao menuBotao">
        <div id="logoRegAmbientais" class="logosMenu"></div>
        <div id="rotuloRegAmbientais" class="rotuloMenu">
            <span i18n class="textoMenu">Registros Ambientais</span>
        </div>
    </div>

    <div id="itemSaudeTrabalho" class="botao menuBotao">
        <div id="logoSaudeTrabalho" class="logosMenu"></div>
        <div id="rotuloSaudeTrabalho" class="rotuloMenu">
            <span i18n class="textoMenu">Saúde do Trabalhador</span>
        </div>
    </div>

    <div id="itemDocLegais" class="botao menuBotao">
        <div id="logoDocLegais" class="logosMenu"></div>
        <div id="rotuloDocLegais" class="rotuloMenu">
            <span i18n class="textoMenu">Documentos Legais</span>
        </div>
    </div>

    <div id="itemAcidentes" class="botao menuBotao">
        <div id="logoAcidentes" class="logosMenu"></div>
        <div id="rotuloAcidentes" class="rotuloMenu">
            <span i18n class="textoMenu">Acidentes do Trabalho</span>
        </div>
    </div>

    <div id="itemEquiptosProtecao" class="botao menuBotao">
        <div id="logoEquiptosProtecao" class="logosMenu"></div>
        <div id="rotuloEquiptosProtecao" class="rotuloMenu">
            <span i18n class="textoMenu">EPI/PC</span>
        </div>
    </div>

    <div id="itemFerramentas" class="botao menuBotao">
        <div id="logoFerramentas" class="logosMenu"></div>
        <div id="rotuloFerramentas" class="rotuloMenu">
            <span i18n class="textoMenu">Ferramentas</span>
        </div>
    </div>

    <div id="itemTreinamento" class="botao menuBotao">
        <div id="logoTreinamento" class="logosMenu"></div>
        <div id="rotuloTreinmento" class="rotuloMenu">
            <span i18n class="textoMenu">Treinamentos SST</span>
        </div>
    </div>
</nav>