<div class="card">
    <form>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Data do Cadastro:</label>
            <p-calendar [showButtonBar]="true"></p-calendar>
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Logradouro:</label>
            <p-dropdown></p-dropdown>
            <input id="float-input" type="text" pInputText [size]="38">
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Número:</label>
            <input id="float-input" type="text" pInputText [size]="10">
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Complemento:</label>
            <input id="float-input" type="text" pInputText [size]="40">
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Bairro:</label>
            <input id="float-input" type="text" pInputText [size]="40">
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">CEP:</label>
            <p-inputMask mask="99999-999" [size]="9"></p-inputMask>
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Caixa Postal:</label>
            <input id="float-input" type="text" pInputText [size]="20">
        </div>
        <div class="field grid">
            <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Estado/Cidade:</label>
            <p-dropdown [itemSize]="2"></p-dropdown>
            <input id="float-input" type="text" pInputText [size]="38">
        </div>
    </form>
</div>