<div>
    <p-panel header="Empresa">
        <p-tabView>
            <p-tabPanel header="Cadastro" [disabled]="disableTabCadastro">
                <app-cadastro></app-cadastro>
            </p-tabPanel>
            <p-tabPanel header="Endereço" [disabled]="disableTabEndereco">
                <app-endereco></app-endereco>
            </p-tabPanel>
            <p-tabPanel header="Contatos" [disabled]="disableTabContato">
                <app-contato></app-contato>
            </p-tabPanel>
            <p-tabPanel header="Estabelecimentos" [disabled]="disableTabEstabelecimento">
            </p-tabPanel>
        </p-tabView>
    </p-panel>
</div>