<p-dialog header="Title" [visible]="true" [closable]="false" [draggable]="false">

    <div class="flex align-items-center">
        <img src="../../assets/Logo SMARTEMS.jpg" style="margin-right: 20px" class="shadow-1" />
        <form (ngSubmit)="auth(f)" #f="ngForm">
            <div>
                <label for="inLogin" class="block text-900 font-medium mb-2">Login</label>
                <input id="inLogin" type="text" pInputText class="w-full mb-3" name="login" ngModel required>

                <label for="inSenha" class="block text-900 font-medium mb-2">Password</label>
                <input id="inSenha" type="password" pInputText class="w-full mb-3" name="senha" required ngModel>

                <div class="flex align-items-center justify-content-between mb-2">
                    <div class="flex align-items-center">
                        <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                        <label for="rememberme1" class="text-900">Remember me</label>
                    </div>
                    <a class="font-medium no-underline ml-2 text-blue-500 text-right cursor-pointer">Forgot
                        password?</a>
                </div>

                <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full"
                    [disabled]="f.form.invalid"></button>
            </div>
        </form>
    </div>

</p-dialog>