<p>Selecione uma empresa para interagir com os módulos do DMAT|NET</p>
<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="Novo Cliente" icon="pi pi-plus" class="botoesMenu"></p-button>
        <p-button label="Novo Grupo de Empresas" icon="pi pi-plus" class="botoesMenu"></p-button>
        <p-button label="Nova Empresa" icon="pi pi-plus" class="botoesMenu"></p-button>
    </div>
</p-toolbar>
<div style="width: 30%; height: 100%; display: inline; margin-left: 10px; margin-right: 10px;">
    <app-data-selector [tamanho]="70" linhas="5"></app-data-selector>
</div>