<div class="card">
    <div class="field grid formsExibirDados">
        <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Data do Cadastro</label>
        <p>teste</p>
    </div>
    <div class="field grid formsExibirDados">
        <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Tipo de Registro</label>
        <p>teste</p>
    </div>
    <div class="field grid formsExibirDados">
        <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">CNPJ</label>
        <p>teste</p>
    </div>
    <div class="field grid formsExibirDados">
        <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">Razão Social</label>
        <p>teste</p>
    </div>
    <div class="field grid formsExibirDados">
        <label for="float-input" class="col-12 mb-2 md:col-2 md:mb-0">FAP</label>
        <p>teste</p>
    </div>
</div>
