.superior {
	background-color: rgb(36, 87, 69);
	min-width: 871px;
	width: 100%;
	height: 42px;
	top: 0;
	position: fixed;
	left: 0px;
	right: 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
	z-index: 1000;
}

.logoDMAT {
	height: 90%;
	width: 200px;
	background-image:
		url("../assets/LogoDMATNET_vert.png");
	background-size: cover;
	float: left;
	left: 0;
	margin-top: 2px;
}

.empresaSelecionada {
	height: 90%;
	background-color: rgb(36, 87, 69);
	margin-left: 0;
	margin-top: 0;
	padding-top: 6px;
	float: left;
	color: white;
	font-size: 9pt;
	font-family: sans-serif;
	font-weight: bold;
}

.usuarioLogado {
	height: 42px;
	width: 320px;
	background-color: #5b5b5b;
	border-left-style: solid;
	border-left-color: rgb(255, 255, 255);
	border-left-width: 1px;
	margin: 0;
	float: right;
	right: 0;
	z-index: 1000;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 8pt;
	padding: 1px 5px 0px 10px;
}

.usuarioLogado .textoUsuarioLogado {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 7pt;
}