<div id="barraPrincipal" class="superior">
    <div style="padding: 1px">
        <div id="logoDMAT" class="logoDMAT"></div>
        <div id="empresaSelecionada" class="textoBarra">
            <span>Empresa Selecionada</span>
        </div>
        <div class="botaoBarra">
            <button pButton type="button" label="Selecionar Empresa" iconPos="right" icon="pi pi-building"
                class="botoesWebApp" (click)="handleClick()"></button>
        </div>
    </div>
    <div id="usuario" class="usuarioLogado">
        <div id="fotoUsuario" class="usuarioFoto"></div>
        <div id="usuario" class="textoBarra">
            <span class="textoUsuarioLogado">Usuário</span>
        </div>
        <div class="barraBotaoUsuario">
            <button pButton type="button" label="Sair" iconPos="right" icon="pi pi-sign-out" class="botoesWebApp p-button-danger"
                (click)="handleClick()"></button>
            <button pButton type="button" iconPos="right" icon="pi pi-chevron-circle-left" class="botaoSideBar"
                (click)="display = true"></button>
        </div>
    </div>
    <p-sidebar [(visible)]="display" position="right">
        Content
    </p-sidebar>
</div>