.superior {
    background-color: rgb(36, 87, 69);
    min-width: 910px;
    width: 100%;
    height: 42px;
    top: 0;
    display: flex;
    position: fixed;
    left: 0px;
    right: 0px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 19%), 0 4px 8px 0 rgb(0 0 0 / 19%);
    z-index: 1000;
    vertical-align: middle;
}

.logoDMAT {
	height: 38px;
	width: 200px;
	background-image:
		url("../assets/LogoDMATNET_vert.png");
	background-size: contain;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.textoBarra {
	height: 38px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 13px;
	max-width: 300px;
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 10pt;
	position: relative;
	display: table-cell;
}

.botaoBarra {
	height: inherit;
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

.barraBotaoUsuario {
	width: 140px;
    height: inherit;
    right: 0;
    display: flex;
    position: absolute;
}

.usuarioFoto {
	height: inherit;
	width: 42px;
	position: relative;
	display: table-cell;
	background-image: url("../assets/imgSemFoto.jpg");
	background-size: cover;
}

.usuarioLogado {
	height: inherit;
    width: 350px;
    background-color: #5b5b5b;
    border-left-style: solid;
    border-left-color: rgb(255, 255, 255);
    border-left-width: 1px;
    margin: 0;
    right: 0;
    z-index: 1000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 8pt;
    position: fixed;
    vertical-align: middle;
    display: inline-flex;
}

.usuarioLogado .textoUsuarioLogado {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 9pt;
    vertical-align: middle;
}

.botoesWebApp {
	font-size: 10pt;
	height: 30px;
	position: relative;
	vertical-align: middle;
	margin: 5px;
}

.botaoSideBar {
	font-size: 10pt;
	height: 30px;
	position: relative;
	vertical-align: middle;
	margin: 5px;
}